# Python 3.11.14 benötigt! TensorFlow ist nicht kompatibel mit Python 3.14+
# Tensorlflow nicht kompatibel mit mac sofern version über 2.16.2
# Erstellen: python3.13 -m venv .venv && source .venv/bin/activate && pip install -r requirements.txt
numpy>=1.24
pandas>=2.0
matplotlib>=3.5,<4.0
seaborn>=0.12
scikit-learn>=1.0,<2.0
tensorflow>=2.10
jupyter
ipykernel
nbstripout